/* This file is where css selectors for the component go.
   There will be hard coded properties and properties controlled by variables, for example

   app-collections .app-collections-value-text {
   color: var(--app-collections-value-text-color);
   display: inline-block;
	 }
*/

app-collections:not(.oj-complete){
  visibility: hidden;
}

app-collections{
	min-height: 50px;
	width: 50px;
}

app-collections[hidden]
{
  display: none;
}